// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
a {transition:200ms all}
/* Logo */
#wrapper-navbar::before {content:' ';display:block;height:37px;width:100%;position: absolute;top:0;background:#2da639}
.navbar-brand {max-width:200px}

.home-items {text-align:center}
.home-items .item {border:1px #ddd solid;position: relative;}
.home-items .item-img {width:100%;height:150px;}
.home-items h3 {font-size:20px;position: absolute;top:100px;left:0;color:#fff;padding:5px;background-color:rgba(0, 0, 0, 0.411)}
.home-items .desc {margin-top:15px}
.entry-title {border-left:3px $primary solid;font-size:30px;padding:5px 15px;margin-bottom:30px}
.entry-title a {color:#fff}

.wpcf7 {max-width:400px !important}

